{{#if resume.languages.length}}
<section>
  <h2 id="languages" class="h3 faded hr">
    Languages
    <span class="symbol icon-bubbles"></span>
  </h2>
  <dl class="skills">
    {{#each resume.languages}}
      <dt class="h4 fl">{{language}}</dt>
      <dd class="faded clearafter">
        <div class="fr mb05">
          <span class="sr-only">"Fluency:</span>
          {{fluency}}
        </div>
      </dd>
    {{/each}}
  </dl>
</section>
{{/if}}
